    <!-- Main Section -->
    <div>
        <div class="w-full h-full relative overflow-hidden" >
            <div class="w-full h-[83vh] md:h-[100vh]">
                <img class="h-full w-full  object-cover" src="../../assets/ex-hero-main.png" alt="">
                <div class="absolute w-full flex flex-col justify-center items-center lg:justify-start lg:items-start top-0 left-0 lg:ml-16" >
                    <div class="flex flex-col lg:flex-row  items-center justify-center  lg:space-x-4 space-y-4 mt-52 lg:mt-72">
                        <div class="text-white lg:text-8xl text-center text-6xl  font-bold break-words" style="font-family: Playfair Display; ">UNLEASH </div>
                        <div class="text-white lg:text-4xl align-text-bottom text-2xl font-bold break-words" style="font-family: Playfair Display;">the explorer in</div>
                    </div>
                    
                    <div class=" flex items-center mt-8 lg:ml-72">
                        <div class="text-white lg:text-8xl text-6xl text-center justify-center font-bold break-words" style="font-family: Playfair Display;">YOURSELF</div>
                    </div>
                    
            
                    <div class="mt-20 lg:mt-28">    
                        <button class="text-[#0DFF85] font-bold p-2 px-4 lg:p-5 lg:px-10 flex items-center space-x-1 bg-[#1F2223] lg:text-xl border border-[#0DFF85]">Explore <mat-icon class="text-white items-center justify-center ml-1">arrow_right_alt</mat-icon>
                        </button>
                    </div> 
            
                    <div class="mt-12 lg:mt-20 items-center ">
                        <p class="lg:text-2xl text-xl text-white lg:w-7/12 text-center lg:text-start" >Immerse yourself in different cultures and learn about world and its people.</p>
                    </div>
                </div>      
            </div>
            
    
        </div>
    </div>

    <!-- Welcome Section -->
    <div class="bg-[#363939] flex flex-col lg:p-10 p-5">
        <div class="flex items-center justify-center">
            <div class="flex flex-col p-10 lg:p-10 justify-center" style="font-family: Playfair Display;" >
                <div class="lg:text-8xl text-4xl text-white font-bold text-center lg:p-2">WELCOME TO</div>
                <div class="-skew-x-[30deg] border-0 rounded-lg bg-gradient-to-b from-[#39B385] to-[#9BE15DEB] lg:text-8xl text-4xl text-white  font-semibold text-center "><div class="skew-x-[30deg] m-0 p-0">EXPLORIA</div></div>
            </div>

       </div>

        <!-- for mobile -->
        <div class="flex items-center justify-center relative overflow-hidden lg:hidden">
            <img src="../../assets/mb-pic1.png" alt="">
            <div class="absolute top-0 left-0 h-full w-full p-5 flex box-border justify-center text-center text-white">
                <h1 class="text-center w-80">EXCITING TOURS FOR ADVENTURERS</h1>
            </div>
        </div>

        <div class="flex lg:flex-row flex-col justify-center lg:space-x-36">
            <div class="hidden lg:visible lg:flex items-center lg:m-4 relative overflow-hidden">
                <img src="../../assets/Static image.png" alt="">
                <div class="absolute top-0 left-0 h-full p-5 box-border items-center flex justify-center text-center text-white">
                    <p class="text-center font-semibold text-2xl lg:text-5xl">EXCITING TOURS FOR ADVENTURERS</p>
                </div>
            </div>
            <div class="flex flex-col m-4 relative  items-center space-y-4">
                <div class="flex flex-col p-10 w-80 lg:w-96  rounded-2xl items-center justify-center bg-gradient-to-br from-zinc-700 to-neutral-700 gap-8" >
                    <div class="relative" >
                        <div class="border-2 border-emerald-500 w-24 h-24  rounded-full">
                            <span class="material-symbols-outlined absolute top-0 left-0 m-1 text-emerald-500 items-center" style="font-size: 88px;">
                                language
                            </span>
                        </div>
                    </div>
                    <div class="p-2">
                        <p class="text-white text-center w-40 lg:w-80">Lorem ipsum dolor sit amet consectetur. Eget mauris urna risus mauris. Ought these are balls place mrs their.</p>
                        <!-- <p class="text-white text-center w-80">Lorem ipsum dolor sit amet consectetur. Eget mauris urna risus mauris. Ought these are balls place mrs their.</p> -->
                        
                    </div>
                </div>
                <div class="flex flex-col p-10 w-80 lg:w-96 rounded-2xl items-center justify-center bg-gradient-to-br from-zinc-700 to-neutral-700 gap-8" >
                    <div class="relative m-4" >
                        <div class="border-2 border-emerald-500 w-24 h-24  rounded-full">
                            <span class="material-symbols-outlined absolute top-0 left-0 m-2 text-emerald-500 items-center" style="font-size: 80px;">
                                pin_drop
                            </span>
                        </div>
                    </div>
                    <div class="p-2 ">
                        <p class="text-white text-center w-40 lg:w-80">Lorem ipsum dolor sit amet consectetur. Eget mauris urna risus mauris. Ought these are balls place mrs their.</p>
                        <!-- <p class="text-white text-center w-80">Lorem ipsum dolor sit amet consectetur. Eget mauris urna risus mauris. Ought these are balls place mrs their.</p> -->
                        
                    </div>
                </div>
               
            </div>
        </div>

    </div>

    <!-- Destinations Section -->
    <div class="bg-gradient-to-b from-neutral-400 to-zinc-800  flex flex-col p-10">
        <div class="flex items-center justify-center">
            <div class="flex flex-col p-10  lg:p-10 justify-center" style="font-family: Playfair Display;" >
                <div class=" flex flex-row lg:text-8xl text-4xl text-white font-bold text-center lg:p-2">
                    PUTTING 
                    <div class="-skew-x-[30deg] border-0 mx-4 lg:mx-10 rounded-lg bg-gradient-to-b from-[#39B385] to-[#9BE15DEB] lg:text-8xl text-4xl text-white  font-semibold text-center ">
                        <div class=" skew-x-[30deg] m-0 p-0">
                            TRAVELS
                        </div>
                    </div>
                </div>
                <div class="lg:text-8xl text-4xl text-white font-bold text-center lg:p-2">
                    IN YOUR HANDS
                </div>
            </div>

        </div>

        <div class=" flex flex-col p-10 lg:px-96 font-['Montserrat'] ">
        <div class="grid flex-col space-y-4 lg:space-x-0 lg:space-y-0">
            <div class="lg:col-start-1 lg:col-span-2  relative overflow-hidden ">
                <div class="flex justify-center items-center">
                    <img class="lg:hidden" src="../../assets/destinations/india-des-mob.png" alt="">
                    <img  class="hidden lg:block" src="../../assets/destinations/india-des.png" alt="">
                </div>
                <div class="absolute top-0 left-0 h-full w-full box-border flex flex-col items-center justify-center  space-y-2">
                    <div class="text-emerald-200 text-2xl font-bold text-center">EXPERIENCE</div>
                    <div class="text-white text-6xl font-bold">India</div>
                </div>
            </div>
            <div class="lg:col-start-3 lg:row-span-2 lg:row-start-1 relative overflow-hidden ">
                <div class="flex justify-center items-center">
                    <img class="lg:hidden" src="../../assets/destinations/australia-des-mob.png" alt="">
                    <img  class="hidden lg:block" src="../../assets/destinations/australia-des.png" alt="">
                </div>
                <div class="absolute top-0 left-0 h-full w-full box-border flex flex-col items-center justify-center  space-y-2">
                    <div class="text-emerald-200 text-2xl font-bold text-center">UNCOVER</div>
                    <div class="text-white text-6xl font-bold">Australia</div>
                </div>
            </div>
            <div class="lg:col-start-1 lg:row-start-2 lg:row-span-2 relative overflow-hidden ">
                <div class="flex justify-center items-center">
                    <img class="lg:hidden" src="../../assets/destinations/peru-des-mob.png" alt="">
                    <img  class="hidden lg:block" src="../../assets/destinations/peru-des.png" alt="">
                </div>
                <div class="absolute top-0 left-0 h-full w-full box-border flex flex-col items-center justify-center  space-y-2">
                    <div class="text-emerald-200 text-2xl font-bold text-center">DISCOVER</div>
                    <div class="text-white text-6xl font-bold">Peru</div>
                </div>
            </div>

            <div class="lg:col-start-2 lg:col-span-1 lg:row-start-2 relative overflow-hidden ">
                <div class="flex justify-center items-center">
                    <img class="lg:hidden" src="../../assets/destinations/bali-des-mob.png" alt="">
                    <img  class="hidden lg:block" src="../../assets/destinations/bali-des.png" alt="">
                </div>
                <div class="absolute top-0 left-0 h-full w-full box-border flex flex-col items-center justify-center  space-y-2">
                    <div class="text-emerald-200 text-2xl font-bold text-center">PARADISE</div>
                    <div class="text-white text-6xl font-bold">Bali</div>
                </div>
            </div>

            <div class="lg:col-start-2 lg:row-start-3 lg:col-span-2 relative overflow-hidden ">
                <div class="flex justify-center items-center">
                    <img class="lg:hidden" src="../../assets/destinations/hawaii-des-mob.png" alt="">
                    <img  class="hidden lg:block" src="../../assets/destinations/hawai-des.png" alt="">
                </div>
                <div class="absolute top-0 left-0 h-full w-full box-border flex flex-col items-center justify-center  space-y-2">
                    <div class="text-emerald-200 text-2xl font-bold text-center">ADVENTURE</div>
                    <div class="text-white text-6xl font-bold">Hawaii</div>
                </div>
            </div>

        </div>
        </div>
    </div>

    <!-- Pricing Section -->
    <div class="bg-[#363939] flex flex-col lg:p-10 p-5">
        <div class="flex items-center justify-center">
            <div class="flex flex-col p-10  lg:p-10 justify-center items-center" style="font-family: Playfair Display;" >
                <div class=" flex flex-row lg:text-8xl text-4xl text-white font-bold text-center lg:p-2">
                    EXPLORE BUDGET FRIENDLY
                </div>
                <div class="-skew-x-[30deg] border-0 p-0 rounded-lg bg-gradient-to-b from-[#39B385] to-[#9BE15DEB] lg:text-8xl text-4xl text-white  font-semibold text-center ">
                    <div class=" skew-x-[30deg]">
                        PRICES
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 justify-evenly items-center lg:p-10 p-2">
            <div class="border-0 bg-emerald-200 rounded-tr-2xl rounded-bl-xl">
                <div class="flex items-center justify-center relative overflow-hidden">
                    <img class="border-0 rounded-tr-xl" src="../../assets/price/solo-price.png" alt="">
                    <div class="absolute top-0 left-0 h-full w-full p-5 flex box-border justify-center  text-white">
                        <div class="w-96 h-28 text-white text-6xl mt-24 font-bold leading-[61.60px] " style="font-family: Playfair Display;">SOLO TRAVELER</div>
                    </div>
                </div>
                <div class=" p-8 flex flex-col justify-center space-y-4">
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-black text-xl">
                           21 days journey
                        </div>
                    </div>
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-black text-xl">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-black text-xl">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-black text-xl">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>

                </div>

                <div class="pb-10 text-4xl flex justify-center items-center">
                    <div class="text-zinc-600 text-5xl font-bold font-['Montserrat'] uppercase  ">₹</div><div class="font-bold font-['Playfair Display'] leading-[61.60px] text-zinc-600 text-5xl">15,200</div>
                </div>

            </div>

            <div class="border  bg-gradient-to-br from-zinc-700 to-neutral-700  border-emerald-400 rounded-tr-2xl rounded-bl-xl">
                <div class="flex items-center justify-center relative overflow-hidden">
                    <img class="border-0 rounded-tr-2xl" src="../../assets/price/family-price.png" alt="">
                    <div class="absolute top-0 left-0 h-full w-full p-5 flex box-border justify-center  text-white">
                        <div class="w-80 h-28 text-white text-6xl mt-24 font-bold leading-[61.60px] " style="font-family: Playfair Display;">Family Lover</div>
                    </div>
                </div>
                <div class=" p-8 flex flex-col justify-center space-y-4">
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-white text-xl">
                           21 days journey
                        </div>
                    </div>
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-white text-xl">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-white text-xl">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-white text-xl">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>

                </div>

                <div class="pb-10 text-4xl flex justify-center items-center">
                    <div class="text-emerald-500 text-5xl font-bold font-['Montserrat'] uppercase  ">₹</div><div class="font-bold font-['Playfair Display'] leading-[61.60px] text-emerald-500 text-5xl">15,200</div>
                </div>

            </div>

            <div class="border-0 bg-emerald-200 rounded-tr-2xl rounded-bl-xl">
                <div class="flex items-center justify-center relative overflow-hidden">
                    <img class="border-0 rounded-tr-xl" src="../../assets/price/season-price.png" alt="">
                    <div class="absolute top-0 left-0 h-full w-full p-5 flex box-border justify-center  text-white">
                        <div class="w-96 h-28 text-white text-6xl mt-24 font-bold leading-[61.60px] " style="font-family: Playfair Display;">SEASONAL PICK</div>
                    </div>
                </div>
                <div class=" p-8 flex flex-col justify-center space-y-4">
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-black text-xl">
                           21 days journey
                        </div>
                    </div>
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-black text-xl">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-black text-xl">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                    <div class="flex flex-row items-center">
                        <mat-icon class="text-emerald-500 mx-4 ">check_circle_outline</mat-icon>
                        
                        <div class="text-black text-xl">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>

                </div>

                <div class="pb-10 text-4xl flex justify-center items-center">
                    <div class="text-zinc-600 text-5xl font-bold font-['Montserrat'] uppercase  ">₹</div><div class="font-bold font-['Playfair Display'] leading-[61.60px] text-zinc-600 text-5xl">15,200</div>
                </div>

            </div>
        </div>

    </div>

    



