<div class="fixed top-0 z-50 right-0 left-0 bg-transparent text-white">
    <div class="lg:px-20 px-4  items-center flex justify-between">
        <div class="">
            <img class="lg:w-40 w-20" src="../../assets/ex-logo.svg" alt="">
        </div>
        <div class="flex flex-row justify-center space-x-20">
            <div class="hidden lg:flex-row lg:visible lg:flex lg:justify-evenly lg:items-center  lg:space-x-7">
                <div>
                    <button routerLink="" routerLinkActive="font-bold text-[#0DFF85]" mat-button class="text-2xl">HOME</button>
                </div>
                <div>
                    <button mat-button class="text-2xl">DESTINATIONS</button>
                    
                </div>
                <div>
                    <button mat-button class="text-2xl">PRICES</button>
                </div>
                <div>
                    <button mat-button class="text-2xl">TESTIMONIALS</button>
                </div>
            </div>
    
            <div class="hidden lg:visible lg:flex items-center  p-4">
                <div class="bg-[#0DFF85] text-black p-2 px-3">
                    <button  mat-button color="#0DFF85" class="bg-[#0DFF85] p-4 text-black text-2xl font-bold" >SCHEDULED NOW</button>
                </div>
            </div>
        </div>

        <div class="lg:hidden">
            <button mat-mini-fab (click)="toggleMe() " style="color: #0DFF85;" color="bg-green-500">
                <mat-icon >menu</mat-icon>
            </button>
        </div>
    </div>

    

</div>
<div *ngIf="toggleMenuItem" class="flex flex-col justify-center w-full transition-all space-y-20  p-10 absolute">
    <div class="flex flex-col items-center space-y-5">
        
        <button mat-button class="text-2xl cursor-pointer">HOME</button>

        <button mat-button class="text-2xl">DESTINATIONS</button>

        <button mat-button class="text-2xl">PRICES</button>

        <button mat-button class="text-2xl">TESTIMONIALS</button>
        
    </div>
</div>

  